*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo img{
    height: 10em;
}



header{
    background-color: #1d6594;
    box-shadow: 0px 3px 10px black;
    height: 10em;
}

nav{
    display: flex;
    justify-content:space-between;
}

.loginibutton{
    display:block;
    padding: 3em; 
}

.logo{
    display: flex;
    align-items: center;
    height: 10rem;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 20px;
    list-style: none;
}



.contenedor{
    max-width: 1200px;
    padding: 1em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.item{
    max-width: 200px;
    margin: auto;
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.img-item{
    width: 140px;
    height: 140px;
}

 .item:hover{
    box-shadow: 0 0 10px black;
    scale: 1.05;
}

 #botao_card{
    text-decoration: none;
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #31A8F7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}



#criar{
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #31A8F7;
    padding: 0.4em 3em;
    margin:0.5em;
    cursor: POINTER;
}

#bot{
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    background-color: #31A8F7;
    padding: 0.4em 3em;
    margin: 0.5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.texto-site{
    border: 0.1em black;
    border-radius: 10px;
    margin: 5em 10em;
    text-align: justify;
}

h1{
    text-align: center;
}