

#foto{
    height: 250px;
    width: 182px;
    border-radius: 10px;    
}

body{
  display: ruby-text;
}

   #logo{
    position: 50%;
    height: 10em;

  }

  #inicio{
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    background-color: #31A8F7;
    position: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border:none;
    background-color: #31A8F7;
    padding: 0.4em 3em;
    margin:0.5em;
    cursor: POINTER;
  }
  
  #inicio:hover:hover{
    background-color: #1d6594;
    color: white;
  }

  #info{
    margin: 1em 9em;
    background-color: white;
    border-radius: 0.7em;
    padding: 1em 8em;
    box-shadow: #31A8F7 0.2em 0.2em 1em;
    max-width: 200px;
    position: 50%;
   }

   #botao_card{
    text-decoration: none;
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #31A8F7;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
#validacao{
    position: top;
}

#reprovar{
    text-decoration: none;
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #31A8F7;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
