*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo img{
    height: 10em;
}

header{
    background-color: #31A8F7;
    box-shadow: 0px 3px 10px black;
    height: 10em;
}

h3{
    padding: .8em;
    align-items: center;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

.loginibutton{
    display: block;
    padding: 3em; 
}

.logo{
    display: flex;
    align-items: center;
    height: 10rem;
}

header ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#criar{
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #1d6594;
    padding: 0.4em 3em;
    margin: 0.5em;
    cursor: POINTER;
}

#bot{
    text-decoration: none;
    border: none;
    border-radius: 0.36em;
    color: white;
    background-color: #1d6594;
    padding: 0.4em 3em;
    margin: 0.5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

form{
    padding: 0em 28%;
    align-items: center;
}

.forms{
    display: ruby-text;
    align-items: center;
    text-align: center;
}

input {
    margin: 0.4em;
    padding: 0.9em 1em;
    height: 1.5em;
    width: 28em;
    border: 1px solid #000;
    border-radius: 0.6em;
}

.custom-file-input {
    position: relative;
    display: inline-block;
    width: 28em;
    height: 1.5em;
    margin: 0.4em;
}

.custom-file-input input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    background-color: white;
}

.custom-file-label {
    display: block;
    height: 100%;
    border: none; /* Remover a borda */
    border-radius: 0.6em;
    padding: 0.9em 1em;
    box-sizing: border-box;
    background-color: #f8f9fa; /* Fundo branco */
    cursor: pointer;
}

#file-name {
    display: block;
    margin-top: 0.4em;
    font-size: 0.9em;
    color: #666;
}
